#inputUnstyled{
   border: 2px solid red;
}

#outerContainer {
  position: relative;
}

.blueBackground{
   background-color: green;
}


#innerContainer {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translateX(50%) translateY(-50%);
}